#inicio {
	width: 100%;
	height: auto;
}

#logo {
	width: 200px;
	height: 98px;
	float: left;
}

.menu {
	width: 1072px;
	height: 100px;
	float: right;
}

.menu li:hover {
	background-color: #FF4C01;
}

.menu ul li {
	list-style: none;
	float: left;
	text-decoration: none;
	padding: 20px 40px;
	border: 1px solid #000;
	margin-top: 0px;
	background: #000;
}

.menu ul li a {
	color: #fff;
	font-family: Monaco;
	text-decoration: none;
}

.carousel-inner img {
	width: 1280px;
	height: 550px;
}
